.graph {
  background-color: rgb(31, 30, 30);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 50%;
}
.graph-heading{
    color: white;
    font-family: 'Montserrat';
    padding: 10px;
}